@media (max-width: 768px) {
    .table-container {
        overflow-x: auto;

    }
}

.page-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.table-container {
    .column-title {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }
}

.not-found {
    font-size: 14x;

    & span {
        font-weight: 600;
    }
}

.wrapper {
    padding: 20px;
}

.wrap-text {
    white-space: normal;
}





table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: scroll;

    th,
    td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        cursor: pointer;

        &:hover {
            background-color: #ddd;
        }
    }

    tbody {
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ADD8E6;
        }
    }
}

.highlight {
    background-color: yellow;
    display: block;
    padding: 5px;
    margin: -5px -15px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    margin-top: 10px;
}

button {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;

    &:hover {
        background-color: rgb(234, 0, 0);
    }
}

.active-page {
    background-color: rgb(234, 0, 0);
    color: white;
}

.pagination {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.checkbox-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;

    .columns-hide-btns {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: row;
    }

    label {
        display: block;
        // margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
    }


    input[type="checkbox"] {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #ccc;
        border-radius: 4px;
        cursor: pointer;

        &:checked {
            background-color: #4CAF50;
            border-color: #4CAF50;

            &::after {
                content: '\2714';
                font-size: 16px;
                color: white;
                text-align: center;
                line-height: 20px;
            }
        }
    }
}

.records-per-page {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    label {
        margin-right: 10px;
        font-weight: bold;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
    }

    select:focus {
        outline: none;
        border-color: #007bff;
    }
}

.go-up {
    position: fixed;
    bottom: 40px;
    right: 0px;

    background-color: #add8e67d;

    border-radius: 50% 0 0 50%;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    @media (max-width: 450px) {
        bottom: 90px;
    }

    &:hover {
        background-color: #add8e6;
    }
}